.categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .category {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  .video-cards{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .video-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
  }