.banner {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 20px;
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("/public/img/background.png");
    background: url('/public/img/background.png') no-repeat center center;
    background-size: cover;
    color: #fff;
    gap: 200px;
  }

  
  
  .banner .video-details {
    padding: 10px;
  }
  
  .banner .video-details h3 {
    margin: 10px 0;
  }
  
  .banner .video-details p {
    margin: 5px 0;
  }
  



